body {
    background: #dedede;
  }
  
  * {
    box-sizing: border-box;
  }
  
  #container {
      display: flex;
    flex-direction: column;
    width: 620px;
    margin: 0 auto;
    font-family: 'Helvetica Neue LT Pro', 'Helvetica', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  #the-calculator {
    font-size: 1.2em;
    display: block;
    height: 100%;
    width: 50%;
    float: left;
    margin: 0;
    padding: 20px;
    border: 2px solid rgba(0,0,0,0.125);
    background: #b5ece7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00544b', endColorstr='#003b34', GradientType=0);
    border-radius: 4px;
    background-clip: padding-box;
  }
  #the-calculator button,
  #the-calculator input,
  #the-calculator #total {
    font-size: 1em;
    display: inline-block;
    position: relative;
    padding: 12px;
    font-family: 'Helvetica Neue LT Pro', 'Helvetica', sans-serif;
  
  }
  #the-calculator button .exponent,
  #the-calculator input .exponent,
  #the-calculator #total .exponent {
    font-size: 0.6em;
    position: absolute;
  }
  #the-calculator button .denominator,
  #the-calculator input .denominator,
  #the-calculator #total .denominator {
    position: relative;
  }
  #the-calculator button .denominator .denom-top,
  #the-calculator input .denominator .denom-top,
  #the-calculator #total .denominator .denom-top {
    font-size: 0.75em;
    position: absolute;
    left: -8px;
  }
  #the-calculator button .denominator .denom-slash,
  #the-calculator input .denominator .denom-slash,
  #the-calculator #total .denominator .denom-slash {
    padding: 0px 2px;
  }
  #the-calculator button .denominator .denom-btm,
  #the-calculator input .denominator .denom-btm,
  #the-calculator #total .denominator .denom-btm {
    font-size: 0.75em;
    position: absolute;
    bottom: 0px;
  }
  #the-calculator #the-display {
    width: 100%;
  }
  #the-calculator #the-display #total {
    width: 98%;
    margin: 0 auto 8px;
    display: block;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 1.2em;
    color: #2f2f2f;
    text-shadow: 1px 1px 0px #fff;
    background: #fff;
    text-align: right;
  }
  #the-calculator #the-buttons {
    width: 100%;
  }
  #the-calculator #the-buttons #extra-buttons {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #00544b;
  }
  #the-calculator #the-buttons .button-row {
    width: 100%;
    zoom: 1;
  }
  #the-calculator #the-buttons .button-row:before,
  #the-calculator #the-buttons .button-row:after {
    content: "";
    display: table;
  }
  #the-calculator #the-buttons .button-row:after {
    clear: both;
  }
  #the-calculator #the-buttons .button-row:before,
  #the-calculator #the-buttons .button-row:after {
    content: "";
    display: table;
  }
  #the-calculator #the-buttons .button-row:after {
    clear: both;
  }
  #the-calculator #the-buttons .button-row button {
    width: 30.7%;
    margin: 1.25%;
    float: left;
    border: none;
    background: #3c6460;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006e62', endColorstr='#00544b', GradientType=0);
    border-style: solid;
    border-color: #333;
    border-width: 0px 1px 1px 0px;
    color: #f0f0f0;
    cursor: pointer;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-clip: padding-box;
  }
  #the-calculator #the-buttons .button-row button:last-child {
    margin-right: 0;
    float: right;
  }
  #the-calculator #the-buttons .button-row button:hover,
  #the-calculator #the-buttons .button-row button.hovering {
    border-width: 1px 0px 0px 1px;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  #the-calculator #the-buttons #calc_zero {
    width: 30%;
  }
  #the-calculator #the-buttons #calc_clear {
    background: #103f3a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#103f3a', endColorstr='#0d332f', GradientType=0);
  }
  #the-calculator #the-buttons #calc_back {
    background: #103f3a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#103f3a', endColorstr='#0d332f', GradientType=0);
  }
  #the-calculator #the-buttons #calc_eval {
    background: #dfdfdf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#cdcdcd', GradientType=0);
    color: #00544b;
    text-shadow: 1px 1px 0px #fff;
  }
  #the-results {
    width: 30%;
    float: right;
    /*min-width: 400px;*/
    margin: 0;
    /*padding: 20px;*/
    border: 2px solid rgba(0,0,0,0.125);
    background: #00544b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00544b', endColorstr='#003b34', GradientType=0);
    border-radius: 4px;
    background-clip: padding-box;
    box-sizing: border-box;
    position: relative;
  }
  #the-results #result_clear {
    position: absolute;
    right: 0;
    top: 105%;
  }
  #the-results ul {
    height: 440px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0 ;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 64px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  #the-results ul li {
    font-size: 0.8em;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
  }
  #the-results ul li#result_default {
    /*padding-left: 24px;*/
    text-align: center;
    color: #a9a9a9;
    font-style: italic;
    font-weight: 200;
  }
  #the-results ul li.result {
    /* display: none; */
    font-size: 30px;
    color: #f9f9f9;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    zoom: 1;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  #the-results ul li.result:before,
  #the-results ul li.result:after {
    content: "";
    display: table;
  }
  #the-results ul li.result:after {
    clear: both;
  }
  #the-results ul li.result:before,
  #the-results ul li.result:after {
    content: "";
    display: table;
  }
  #the-results ul li.result:after {
    clear: both;
  }
  #the-results ul li.result:nth-child(even) {
    background: rgba(255, 255, 255, 0.15);
  }
  #the-results ul li.result:nth-child(even) .answer {
    background: #103f3a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#103f3a', endColorstr='#0d332f', GradientType=0);
  }
  #the-results ul li.result .equation,
  #the-results ul li.result .answer {
    display: inline-block;
    padding: 0px 12px;
    box-sizing: border-box;
    height: 60px;
    line-height: 40px;
  }
  #the-results ul li.result .equation {
    float: left;
    height: 100%;
    font-style: italic;
  }
  #the-results ul li.result .answer {
    position: absolute;
    right: 52px;
    top: 0;
    height: 100%;
    background: #0e3733;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e3733', endColorstr='#0b2b27', GradientType=0);
  }
  #the-results ul li.result .use {
    height: 100%;
  }
  #the-results ul li.result .use a {
    background: #008779;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008779', endColorstr='#006359', GradientType=0);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: block;
    padding: 0px 8px;
    width: 52px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    color: #f9f9f9;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  }
  #the-results ul li.result .use a:hover,
  #the-results ul li.result .use aactive {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  
.data-buttons button:not(:last-child) {
    margin-right: 4px;
}

.data-buttons button {
    background-color: rgb(243, 128, 21);
    border-radius: 5px;
    color: whitesmoke;
}

#total {
  overflow: auto;
}

